@model AliexpressEF.YiDa.Domain.AliShopType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
        $('#e_BeginOn').datebox();


        $('#e_EndOn').datebox();


        $('#e_TokenUpdateOn').datebox();


    });
</script>
@using (Html.BeginForm("Edit", "AliShop", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ShopTitle,"店铺名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ShopTitle,new{@id="e_ShopTitle"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.RefreshToken,"更新Token:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.RefreshToken,new{@id="e_RefreshToken"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.AccessToken,"账户Token:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AccessToken,new{@id="e_AccessToken"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Manager,"店铺负责人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Manager,new{@id="e_Manager"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Phone,"电话:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Phone,new{@id="e_Phone"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="e_Status"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BeginOn,"开始时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BeginOn,new{@id="e_BeginOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EndOn,"结束时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EndOn,new{@id="e_EndOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CanNum,"可打印数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CanNum,new{@id="e_CanNum"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.TokenUpdateOn,"Token更新时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TokenUpdateOn,new{@id="e_TokenUpdateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReturnName,"回邮接收人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReturnName,new{@id="e_ReturnName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReturnAddress,"回邮地址:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReturnAddress,new{@id="e_ReturnAddress"})
		</td>
	</tr>


    
</table>
</fieldset>
}
